{% extends 'layouts/main.html' %}
{% block title %}Edit Movie{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post">
      <h3 class="form-heading">Edit movie <em>{{ movie.movie_name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.movie_name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="release_date">Release Date</label>
        {{ form.release_date(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Edit Movie" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}